<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgotten Password</title>
</head>
<body style="font-family: Arial, sans-serif;user-select: none;">
    <div style="max-width: 600px; margin: 0 auto; padding: 20px; border: 1px solid #ccc; border-radius: 5px;">

        <h2 style="color: #333;">Forgotten Password</h2>
        <p>Hello,</p>
        <p>We received a request to reset your password. Please use this temporary password to log in and update your password as soon as possible. If you didn't request a password reset, please ignore this email.</p>
       <div style=" margin-bottom: 25px; padding: 10px;">
           <span><b>Your temporary password is:</b></span>
           <span style="user-select: all;background-color: #d5d5d5; padding: 10px; width: fit-content; border-radius: 5px; font-size: 16px; font-weight: bold; color: #2478ff;">
xk/Gtbr5bCNqJwokq/nJmQ==</span>
       </div>       <div style="text-align: center; width: 100%"><a href="//localhost:3000/login" style="background-color: #5d07df; padding: 10px; border-radius: 5px; font-size: 16px; font-weight: bold; color: #EEE;">Go to TimeOrganizer login   </a></div>
        <p>Best regards,</p>
       <p>&emsp;Your <b>TimeOrganizer</b> team</p>
    </div>
</body>
</html>