@import './base.css';



a,
.link {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

.dividerTextCenter {
  display: flex;
  align-items: center;
}
.dividerTextCenter:after,
.dividerTextCenter:before {
  content: '';
  flex: 1;
  height: 2px;
  background: #999;
}
.clickableIcon{
  cursor: pointer;
}

.v-list-item--three-line .v-list-item__append, .v-list-item--three-line .v-list-item__prepend {
  align-self: center !important;
  padding: 0 !important;
}

.borderWhite {
  border: 1px solid white !important;
}
.borderWhite2 {
  border: 2px solid white !important;
  border-collapse: collapse;
}